{% extends "blog/base.html" %}

{% block BERTIN_FC %}
<h1 class="text-center text-primary mb-4">Sobre Bertin FC</h1>

<div class="row">
    <div class="col-md-6">
        <h3>Nuestra Historia</h3>
        <p>Bertin FC es un equipo apasionado por el fútbol, dedicado a fomentar el espíritu deportivo y la colaboración en equipo. Nuestro objetivo es no solo competir, sino también inspirar a nuestra comunidad a través del deporte.</p>
    </div>
    <div class="col-md-6">
        <h3>Nuestros Valores</h3>
        <ul class="list-group">
            <li class="list-group-item">⚽ Trabajo en equipo: Creemos que juntos somos más fuertes.</li>
            <li class="list-group-item">🤝 Respeto: Valoramos a nuestros compañeros, rivales y aficionados.</li>
            <li class="list-group-item">🔥 Pasión: El fútbol es más que un deporte, es nuestra forma de vida.</li>
        </ul>
    </div>
</div>
{% endblock %}