{% extends 'blog/base.html' %}

{% block BERTIN_FC %}
<h1>Partidos de Bertin FC</h1>

<table>
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Rival</th>
            <th>Lugar</th>
            <th>Resultado</th>
        </tr>
    </thead>
    <tbody>
        {% for partido in partidos %}
        <tr>
            <td>{{ partido.fecha }}</td>
            <td>{{ partido.rival }}</td>
            <td>{{ partido.lugar }}</td>
            <td>{{ partido.resultado }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No hay partidos registrados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}